.signup-form .form-container{
  position: fixed;
  border-radius: 4px;
  width: 90%;
  height: 300px;
  top: 10%;
  left: 50%;
  margin-left: -45%;
  background-color: #fff;
}

.signup-form form {
  margin: 80px auto;
  width: 90%;
}

.signup-form form input {
  border: none;
  border-bottom: 1px solid rgba(25,25,25,0.1);
  line-height: 1.9;
  margin-bottom: 11px;
  width: 100%;
}

.signup-form form input:focus {
  outline: none;
}

.signup-actions {
  display: flex;
  margin-top: 10px;
}

.signup-actions button {
  flex-grow: 1;
  border-radius: 4px;
  border: none;
  line-height: 2;
  font-size: 1.2em;
  margin: 5px;
}

.signup-actions button:focus {
  outline: none;
}

.signup-form .submit {
  background-color: #fdc900;
  color: #212121;
}
.signup-form .cancle {
  line-height: 2;
  font-size: 1.2em;
  margin: 5px;
  text-align: center;
  flex-grow: 1;
  border-radius: 4px;
  border: none;
  background-color: #c7c7c7;
  color: white;
}
